
<p class = "humblocks">Temperature:<%= @temperature.actual_temperature %></p>

<p class = "humblocks">Humidity:<%= @temperature.humidity %></p>


<div>
  <div id="container">
    <p id='main-app'></p>
  </div>
</div>
