<h1>Plants</h1>


<h2>
    <% @plants.each do |plant| %>
      <%= button_to "Water", user_plant_path(current_user, plant.id),
      
      action: "update", method: :patch %>


      <p id='main-app'></p>
    <%end%>

</h2>
