
<div>
  <!-- <% @plants.each do |plant| %>
    <%= button_to "Water", user_plant_path(current_user, plant.id), action: "update", method: :patch %>
  <%end%> -->
  <div id="container">
    <p id='main-app'></p>
  </div>
</div>
